//EVERYTHING MUST BE INSIDE THIS WRAPPER!!
.portfolio_page_wrapper{
    width:80%;
    height:100%;
    margin:auto;
    .portfolio_title_block{
        margin:8rem 0;
    }
    h1{
        font-size:4rem;
        color:$indigo;
    }
    h2{
        font-size:2rem;
        color:$indigo;
        padding-bottom:1rem;
    }
    p{
        font-size:1.1rem;
    }
    ul{
        list-style-type:initial;
        position:static;
        padding-left:1.5rem;
    }
    .portfolio_image_block{
        width:80%;
        margin:auto;
        & img{
            width:100%;
            height:auto;
        }
    .portfolio_under_image{
        opacity:80%;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    }
    .portfolio_description_block, .portfolio_technical_sheet, .portfolio_resources,
    .portfolio_contact{
        border-left:1px $white solid;
        background:$gray-dark;
        padding:2rem;
        opacity:75%;
        margin:2rem 0;
        .portfolio_input{
            display:grid;
            grid-template-columns:1fr;
            grid-template-rows:1fr 1fr;
            width:80%;
            padding:1rem 0;
        }
        .portfolio_msg_input{
            padding:1rem 0;
            width:80%;
        }
        .portfolio_form_submit{
            & input{
                width:auto;
            }
        }
    }
}

//portfolio card area
.port_card_area{
    width:100%;
    display:block;
    gap:2rem;
}
.port_card{
    margin:1rem 0;
    border-left:1px $light solid;
    background:$light;
    display:grid;
    grid-template-columns:1fr 2fr;
    align-items:center;
    opacity:75%;
    padding:2rem;
    width:100%;
    height:auto;
    //background:$light;
    box-sizing:border-box;
    &:hover{
        opacity:100%;
        transition:0.3s;
        border-left:1px $white solid;
        animation: pulse-animation 2s infinite;

    }
    &_text{
        padding:2rem;
        overflow:hidden;
    }
    & img{
        width:100%;
        height:auto;
        overflow:hidden;
    }


}



@media (max-width:1200px) {
    .port_card{
        display:grid;
        grid-template-columns:1fr;
        & img{
            width:100%;
        }
    }
}

@media (max-width:768px) {
    .portfolio_page_wrapper{
        width:100%;
        & h1{
            font-size:3rem;
        }
        .portfolio_description_block, .portfolio_technical_sheet, .portfolio_resources,
        .portfolio_contact{
            padding:1rem;
        }
    }
}