//highlight active option
    .active{
        font-weight:bold;
        text-transform:capitalize;
        filter:brightness(150%);
    }

//list styling
    ul{
        list-style-type:none;
        position:absolute;
    }

//button styling
.btn {
    padding:0.5rem 2rem;
    margin:1rem;
    font-size:1rem;
    font-weight:bold;
    box-sizing:border-box;
    background:$primary;
    border:1px $primary solid;
    border-radius:5px;
    cursor:pointer;
    &:hover{
        background:$dark;
        transition:0.2s;
        animation: pulse-animation 2s infinite;
    }
}

//link styling
    a{
        text-decoration:none;
        color:$primary;
    }
    a:hover{
        filter:brightness(150%);
        transition:0.3s;
    }

//headline styling
    h1{
        color:$primary;
    }

//form styling
    input, textarea{
        background:none;
        box-shadow:none;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        border-bottom:1px $white solid;
        padding:0.5rem;
        width:80%;
        font-size:1.2rem;
    }
    label{
        padding:0.5rem;
    }

//hide element
    .hide{
        display:none;
    }

//black and white filter
    .bandw{
        filter: grayscale(100%);
    }

//pulse animation
    .pulse {
        animation: pulse-animation 2s infinite;
    }
    @keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        }
        100% {
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
    }

    .image_pulse{
        animation: image-pulse-animation 2s infinite;
    }
    @keyframes image-pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            transform:scale(1);
        }
        100% {
            transform:scale(1.02);
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
    }

/* Typewriter Cursor */
    .txt-type > .txt {
        border-right: 0.2rem solid $white;
        animation: on-off 1s infinite;
    }
    @keyframes on-off {
        0%{border:none;}
        100%{border-right: 0.2rem solid $white;}
    }