//highlight active option
    .active{
        font-weight:bold;
        text-transform:capitalize;
        filter:brightness(150%);
    }

//list styling
    ul{
        list-style-type:none;
        position:absolute;
    }

//underline on hover
    .ul_on_hover{
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $primary;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: $thetransition;
            transition: $thetransition;
            }
        &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
}

//link styling
    a{
        text-decoration:none;
        color:$primary;
    }
    a:hover{
        filter:brightness(150%);
        transition:0.3s;
    }

//headline styling
    h1{
        color:$primary;
    }

//hide element
    .hide{
        display:none;
    }

//black and white filter
    .bandw{
        filter: grayscale(100%);
    }

//pulse animation
    .pulse {
        animation: pulse-animation 2s infinite;
    }
    @keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        }
        100% {
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
    }

/* Typewriter Cursor */
    .txt-type > .txt {
        border-right: 0.2rem solid $white;
        animation: on-off 1s infinite;
    }
    @keyframes on-off {
        0%{border:none;}
        100%{border-right: 0.2rem solid $white;}
    }