@import 'config';
@import 'utility';
@import 'portfolio';
@import 'contact';

//globals
    *{
        box-sizing:border-box;
        margin:0;
        padding:0;
        color:$white;
    }
    html {
        scroll-behavior: smooth;
    }
    body{
    background:$gray-dark;
        font-family: 'Anonymous Pro', monospace;
        line-height:1.6;
    }
    #page_wrapper{
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        background:url('../img/bkg.jpg') no-repeat center center / cover;
        background-attachment: fixed;
    }
    #page_wrapper_l{
        margin:0;
        padding:0;
        height:101vh;
        width:100%;
        background:url('../img/bkg.jpg') no-repeat center center / cover;
        background-attachment: fixed;
        overflow:hidden;
    }

//navbar
    nav{
        display:flex;
        justify-content:space-between;
    }
    //display menu
        .menu{
            display:inline-flex;
            right:0;
            & li{
                padding:0.5rem 1rem;
                &:hover{animation: pulse-animation 2s infinite;}
            }
        }

//showcase
    #showcase{
        padding:0 2rem 4rem 2rem;
        width:70%;
        height:80vh;
        margin:auto;
        box-sizing:border-box;
        display:grid;
        gap:2rem;
        grid-template-columns:1fr 3fr;
        align-items:center;
        & img{
            width:400px;
            height:auto;
            border-radius:25% 25% 0 25%;
            cursor:pointer;
        }
        &_text{
            display:grid;
            grid-template-columns:1fr;
            grid-template-rows:1fr 4fr 1fr;
            align-items:center;
            overflow:hidden;
        }
        &_upper{
            margin:0;
            padding:0;
            display: flex;
            align-items: flex-end;
        }
        & h1{
            font-size:8rem;
            color:$indigo;
        }
        &_link_panel{
            display:inline-block;
            position:relative;
            left:200%;
        }
        & a{
            font-weight:bold;
            padding-right:1rem;
            &:hover{animation: pulse-animation 2s infinite;}
        }

    }

/*services
    #services{
        box-sizing:border-box;
        text-align:center;
        display:grid;
        grid-template-columns:1fr 1fr;
        overflow:hidden;
    }
    .service_card{
        background:$light;
        opacity:67%;
        margin:2rem;
        padding:2rem;
        box-sizing:border-box;
        border-radius:1rem;
        & h1{
            font-size:3rem;
            font-weight:bold;
            padding-bottom:2rem;
        }
        &:hover{
            opacity:100%;
        }
    }
    .service_entry{
        display:grid;
        align-items:center;
        grid-template-columns:1fr 1fr;
        width:60%;
        margin:auto;
        padding:1rem;
        &:hover{
            background:$indigo;
            transition:0.3s;
        }
    }
    #front_end_card{
        position:relative;
        right:100%;
    }
    #back_end_card{
        position:relative;
        left:100%;
    }*/

//portfolio
    #portfolio{
        width:100%;
        position:relative;
        left:100%;
        padding:4rem 0;
        overflow:hidden;
        justify-content:center;
        text-align:center;
        background:$gray-dark;
        opacity:80%;
        &_headline{
            margin:auto;
            padding-bottom:2rem;
        }
        &_inner{
            width:80%;
            margin:auto;
            overflow:visible;
        }
        &:hover{
            opacity:100%;
        }
    }
    .portfolio_card_area{
        width:100%;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        gap:2rem;
    }
    .portfolio_card{
        width:100%;
        height:100%;
        padding:2rem;
        align-content:center;
        background:$light;
        & img{
            width:100%;
            filter:brightness(50%);
        }
        &:hover{
            opacity:100%;
            transition:0.3s;
        }
    }
    #portfolio_3 h1{
        font-size:4rem;
    }
    #arrow_array{
        display:flex;
    }

//contact
    #contact{
        width:80%;
        margin:4rem auto;
        padding:2rem;
        box-sizing:border-box;
        display:grid;
        background:$light;
        opacity:67%;
        align-items:center;
        text-align:center;
        position:relative;
        right:100%;
        overflow:hidden;
        &:hover{
            opacity:800%;
            transition:0.3s;
        }
        &_left {
            background:$gray-dark;
            padding:2rem;
            width:100%;
            box-sizing:border-box;
            & i{
                padding:0 1rem;
            }
            & h3{
                padding:2rem;
            }
        }
    }
    #contact_container{
        width:50%;
        margin:auto;
    }

//footer
#footer{
    width:100%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
    //justify-content:space-between;
    & #back_to_top{
        text-align:left;
    }
    & #copy_block{
        text-align:center;
    }
    & #social_footer{
        text-align:right;
        padding:0 1rem;
    }
}

@media(max-width:1750px) {
    #showcase{
        width:90%;
        margin:auto;
    }
    #portfolio_inner{
        width:90%;
    }
    #contact_container{
        width:90%;
    }
}
@media(max-width:1350px) {
    #showcase{
        width:100%;
    }
    #contact_container{
        width:100%;
    }
    #portfolio_inner{
        width:100%;
    }
}
@media(max-width:1200px) {
    #showcase{
        margin:2rem auto;
        display:block;
        &_text{
            display:grid;
            & h1{
                font-size:6rem;
                margin:0;
            }
            & h2{
                font-size:1.2rem;
            }
        }
    }
    #portfolio_inner{
        grid-template-columns:1fr 1fr;
        gap:0.5rem;
    }
    .portfolio_card{
        padding:1rem;
    }
}
@media(max-width:640px) {
    #showcase{
        &_text{
            display:grid;
            overflow:visible;
            grid-template-rows:1fr 1fr 1fr;
            & h1{
                font-size:3rem;
            }
            & h2{
                font-size:1rem;
            }
        }
        &_link_panel{
            display:grid;
        }
        & img{
            width:300px;
        }
    }
    #portfolio{
        opacity:80%;
        padding:0.5rem;
        gap:0.5rem;
        box-sizing: border-box;
        & h1{
            font-size:1.6rem;
        }
        #portfolio_inner{
            grid-template-columns:1fr;
            gap:0.5rem;
        }

    }
    #contact{
        width:100%;
        padding:0.5rem;
        &_left{
            padding:0.5rem;
        }
    }
    #contact_container{
        width:100%;
        padding:0;
    }
    .menu li{
        padding:0 0.5rem;
    }
}


//scrollbar style
    /* width */
    ::-webkit-scrollbar {
        width: 1rem;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: $gray-dark; 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $primary; 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $secondary; 
    }